<div class="main_div">
    <h4> DashBoard </h4>

    <mat-card>
        <table class="table">
            <thead class="backcolor textcolor">
                <tr>
                    <th scope="col" style="width: 10%">All Seats</th>
                    <th scope="col" style="width: 10%">Available</th>
                    <th scope="col" style="width: 10%">Reserved</th>
                    <th scope="col" style="width: 10%">Sold</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{listcountAll}}</td>
                    <td>{{listAvailable}}</td>
                    <td>{{listReserved}}</td>
                    <td>{{listSold}}</td>
                </tr>
            </tbody>
        </table>
    </mat-card>
</div>